<h1 mat-dialog-title>Add product form</h1>
<div mat-dialog-content>
  <mat-form-field appearance="outline">
    <mat-label>Product Name</mat-label>
    <input matInput placeholder="name">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Product Category</mat-label>
  <mat-select placeholder="category">
    <mat-option value="Fruilts">
      Fruilts
    </mat-option>
    <mat-option value="Vegetables">
      Vegetables
    </mat-option>
    <mat-option value="Electronics">
      Electronics
    </mat-option>
  </mat-select>
  </mat-form-field>
</div>
